{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
            <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <p class="card-text">I am a developer hobbyist, and a third-year mathematics & Computer Science student at the University of Illinois Urbana-Champaign. I have good experiences as well as durable enthusiasm for web and mobile development.
            </p>
            <a href="https://www.linkedin.com/in/chenlei-chloe-fu-408638198/"
            class="btn btn-light">Linkedin Page</a>
        </div>
    </div>

</div>

{% endblock sidebar %}